@reference "../../styles/globals.css";

.select {
  @apply bg-white dark:bg-gray-700 border border-black/10 dark:border-white/10 focus-within:outline-none focus-within:ring-2 w-full font-light;
  @apply transition-all duration-300 ease-in-out;
  appearance: none;
}

.select.primary {
  @apply focus-within:ring-primary-500;
}

.select.disabled {
  @apply bg-gray-400/30 hover:bg-gray-400/30 text-gray-400/50;
}

html.light .select .select-input {
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");  
}

html.dark .select .select-input {
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");  
}

.select .select-input {
  @apply outline-none w-full font-light;
  appearance: none;
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: .75em .75em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact
}

.select .select-input > option {
  @apply bg-white dark:bg-gray-700;
}

.select .select-input.text-sm {
  @apply px-3 py-1 text-sm;
}

.select .select-input.text-md {
  @apply px-4 py-2 text-base;
}

.select .select-input.text-lg {
  @apply px-6 py-3 text-lg;
}

.select.rounded-sm {
  @apply rounded-sm;
}

.select.rounded-md {
  @apply rounded-md;
}

.select.rounded-lg {
  @apply rounded-lg;
}