# Seamless App Settings
NEXT_PUBLIC_SEAMLESS_VERSION=4.0

# Seamless App Session
SESSION_NAME=seamless-developer-console
SESSION_PASS=seamless-developer-console-cookie-secret-key
SESSION_TIMEOUT=1800

# Seamless Auth Api
NEXT_PUBLIC_SEAMLESS_AUTH_API_HOST=http://172.30.10.11:5050/v1
NEXT_PUBLIC_SEAMLESS_AUTH_API_CLIENT_ID=seamless-admin
NEXT_PUBLIC_SEAMLESS_AUTH_API_CLIENT_SECRET=tZI3PyJqWW6dHyuB9SwSzQJsKKnTHjvF