@reference "../../styles/globals.css";

.btn {
  @apply flex items-center gap-1.5 text-sm font-medium whitespace-nowrap focus:ring-4 focus-within:outline-none shadow-xs;
  @apply transition-colors duration-[300ms] no-underline rounded-md px-3 py-2 text-white leading-tight;
}

.btn.primary {
  @apply bg-primary-500 hover:bg-primary-600 focus:ring-primary-500/30;
}

.btn.secondary {
  @apply bg-white dark:bg-slate-800 hover:bg-slate-200/50 dark:hover:bg-slate-700 focus:ring-slate-300/30 dark:focus:ring-slate-600/30 text-slate-700 dark:text-white border border-slate-200 dark:border-white/10;
}

.btn.success {
  @apply bg-green-500 hover:bg-green-600 focus:ring-green-500/30;
}

.btn.danger {
  @apply bg-red-500 hover:bg-red-600 focus:ring-red-500/30;
}

.btn.disabled {
  @apply bg-slate-400/30 hover:bg-slate-400/30 text-slate-400/50;
}

.btn.transparent-primary {
  @apply bg-transparent text-blue-500 hover:text-blue-400 border-b border-b-transparent hover:border-b-blue-400 rounded-none hover:rounded-none focus:ring-0 cursor-pointer;
}

.btn.transparent-success {
  @apply bg-transparent text-green-500 hover:text-green-400 border-b border-b-transparent hover:border-b-green-400 rounded-none hover:rounded-none focus:ring-0 cursor-pointer;
}

.btn.text-sm {
  @apply px-2 py-1 text-sm h-[22px];
}

.btn.text-md {
  @apply px-3 py-2 text-base h-[33px];
}

.btn.text-lg {
  @apply px-4 py-3 text-lg h-[44px];
}

.btn.rounded-sm {
  @apply rounded-sm;
}

.btn.rounded-md {
  @apply rounded-md;
}

.btn.rounded-lg {
  @apply rounded-lg;
}

.btn .loader {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffffff 94%, #0000) top/3px 3px no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: btnLoaderAnimation .75s infinite linear;
}

@keyframes btnLoaderAnimation {
  100% {
    transform: rotate(1turn)
  }
}