/* Base Form Element Style */
.form-element {
  @apply bg-white dark:bg-slate-700 outline-1 outline-black/10 dark:outline-white/10;
  display: flex;
  align-items: center;
  width: auto;
  /* background-color: var(--element-bg); */
  /* background-color: ; */
  background-clip: padding-box;
  /* border: 1px solid var(--border-color); */
  border-radius: var(--radius-md);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-element > input,
.form-element > textarea,
.form-element > select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  outline: none;
  resize: none;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
  border-radius: var(--radius-md);
}

.form-element > select:not(:disabled) {  
  @apply bg-white dark:bg-slate-700;
}

.form-element:has(input:disabled),
.form-element:has(textarea:disabled),
.form-element:has(select:disabled) {
  color: var(--color-slate-500);
  background-color: var(--disable-element-bg);
}

.form-element:focus-within {  
  @apply outline-2 outline-primary-500;  
  box-shadow: 0 0 0 0.25rem rgb(var(--primary), 0.25);
}
/* Base Form Element Style */
