@import "tailwindcss";
@import "./theme.css";

* {
  outline: none;
}

.collapsed {
  display: none;
}

label {
  font-size: var(--text-sm);
}

.sidebar {
  width: 250px;
  border-right: 1px solid black;
}

.sidebar-field {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
  border-bottom: 1px solid black;
  user-select: none;
  padding: 5px;
}

.sidebar-field-drag-handle {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: grab;
}

.sidebar-field.overlay {
  background: rgb(255, 81, 81);
  color: white;
}

.canvas {
  flex: 1;
  border: 1px solid black;
  margin: 50px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}

.canvas-field {
  padding: 15px 0;
  @apply flex flex-1 flex-col gap-2 col-span-6;
}

.canvas-field-item {
  @apply flex flex-col gap-2 col-span-6;
}

.canvas-fields {
  @apply grid grid-cols-12 space-y-4 gap-4 w-auto;
}

.canvas-field.overlay {
  opacity: 0.5;
}

.canvas-field > * {
  width: 100%;
  /* pointer-events: none; */
}

.spacer {
  background: black;
  width: 100%;
  opacity: 0.25;
  height: 100px;
}

.custom-handle-w {
  left: -4px;
}

.custom-handle-e {
  right: -4px;
}

.custom-handle-w,
.custom-handle-e {
  top: 50%;
  margin-top: -4px;
  cursor: ew-resize;
}

.custom-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--color-red-600);
  opacity: 0.9;
  border-radius: 0;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  box-shadow: var(--color-blue-600);
  transition: all 0.2s ease;
}
