.LoginBg {
  @apply bg-no-repeat bg-cover bg-center min-h-screen;
  background-image: url("/images/background/bg-04.jpg");  
}

.Card {
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.Card::after,
.Card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 0;
  padding: 3px;
  border-radius: .75rem;
  animation: 3s spin linear infinite;
  box-sizing: content-box;
}

.Card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}