@reference "../../styles/globals.css";

.file {
  @apply bg-white dark:bg-gray-700 border border-black/10 dark:border-white/10 focus-within:outline-none focus-within:ring-2 w-full font-light;
  @apply transition-all duration-300 ease-in-out;
}

.file.primary {
  @apply focus-within:ring-primary-500;
}

.file.readonly {
  @apply bg-gray-400/30 hover:bg-gray-400/30 text-gray-400/50;
}

.file.disabled {
  @apply bg-gray-400/30 hover:bg-gray-400/30 text-gray-400/50;
}

.file .file-input {
  @apply outline-none w-full font-light;
  @apply text-black/40 dark:text-slate-200 dark:bg-gray-700 cursor-pointer file:cursor-pointer file:bg-black/10 file:hover:bg-black/20 file:dark:bg-gray-900 file:dark:hover:bg-gray-800 file:dark:text-slate-200;
}

.file .file-input.text-sm {
  @apply file:px-3 file:py-1 file:mr-4 text-sm;
}

.file .file-input.text-md {
  @apply file:px-4 file:py-2 file:mr-4 text-base;
}

.file .file-input.text-lg {
  @apply file:px-6 file:py-3 file:mr-4 text-lg;
}

.file .file-input.rounded-sm {
  @apply rounded-sm;
}

.file .file-input.rounded-md {
  @apply rounded-md;
}

.file .file-input.rounded-lg {
  @apply rounded-lg;
}

.file.rounded-sm {
  @apply rounded-sm;
}

.file.rounded-md {
  @apply rounded-md;
}

.file.rounded-lg {
  @apply rounded-lg;
}