@reference "../../styles/globals.css";

.data-table {
  @apply table-auto w-full text-sm;
}

.data-table thead {
  @apply bg-gray-200 dark:bg-gray-800;
}

.data-table tbody tr {
  @apply hover:bg-gray-200/50 dark:hover:bg-gray-800/50 transition-colors duration-200;
}