@reference "../../styles/globals.css";

.data-table {
  @apply overflow-x-auto;
}

.data-table table {
  @apply table-auto w-full text-sm;
}

.data-table thead {
  @apply bg-gray-100 dark:bg-gray-800;
}

.data-table tbody tr {
  @apply hover:bg-gray-200/50 dark:hover:bg-gray-800/50 transition-colors duration-200;
}

.data-table .btn-action {
  @apply cursor-pointer disabled:cursor-default disabled:opacity-40;
}

.data-table .btn-action svg {
  @apply group-disabled:text-gray-500 group-disabled:hover:text-gray-500 dark:group-disabled:text-gray-400 dark:group-disabled:hover:text-gray-400;
}

.data-table .table-naigation .btn-nav {
  @apply p-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded-lg flex items-center cursor-pointer;
}

/* -bg-gray-100 -dark:bg-gray-700 */